@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #000000;
  line-height: 1.2;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: #f5f7fa;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  transition: 1s;
}
.content {
  max-width: 1140px;
  margin: 40px auto;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 9px 20px 0px rgba(0, 0, 0, 0.15);
}
.aside {
  width: 370px;
  background-color: #1e2939;
  color: #ffffff;
}
.photo {
  padding-top: 40px;
  width: 370px;
}
.aside__content {
  padding-left: 40px;
}
.contacts {
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.contacts__title,
.tech-skills,
.soft-skills,
.projects {
  font-size: 2.2em;
  font-weight: 700;
}
.contacts__link {
  opacity: 0.5;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
/* .contacts__link:hover {
  text-decoration: underline;
  transition: 1s;
} */
.tech-skills__list,
.soft-skills__list,
.projects-list {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ff6b08;
}
.tech-skills__list-item,
.soft-skills__list-item,
.projects-list__list-item {
  color: #ffffff;
}
.projects-list__list-item:hover {
  color: #ff6b08;
}
/* .projects ul.projects-list {
  padding: 0;
  padding-left: 20px;
  overflow: hidden;
  margin-right: 10px;
  font-weight: 700;
} */

/* .projects ul.projects-list li::before {
  float: left;
  width: 0;
  white-space: nowrap;
  font-weight: 400;
  content: " " " " " ";
} */

/* .projects ul.projects-list li a {
  padding-left: 0.33em;
  font-weight: 400;
} */

.projects-list__description {
  /* float: right; */
  padding-left: 0.33em;
  font-weight: 400;
  color: #ff6b08;
}
.projects-list__description:hover {
  color: #ffffff;
}
.about-me {
  padding-top: 90px;
  margin-left: 60px;
  margin-right: 100px;
  /* width: 535px; */
  font-size: 1.4em;
}
.about-me__inf {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #595959;
  margin-bottom: 60px;
}
.about-me__inf h1 {
  font-family: Montserrat;
  font-size: 4.5rem;
  line-height: 1.5;
  font-weight: 700;
  color: #000000;
}
.about-me__inf h2 {
  font-family: Montserrat;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #000000;
}
.about-me__link {
  color: #1e2939;
}
iuv .experience__title,
.education__title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #000000;
}

.experience {
  margin-bottom: 50px;
}
.work {
  padding: 0;
  padding-left: 20px;
  font-size: 1.4rem;
  letter-spacing: 0.03em;
  color: #595959;
}
.work__title {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #000000;
}
.job__title {
  color: #ff6b08;
}
.data {
  font-size: 1.2rem;
  letter-spacing: 0.03em;
  color: #a8a8a8;
}
.education {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 90px;
}
.educational-institution__title {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ff6b08;
}

@media (max-width: 1200px) {
  .content {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .content {
    max-width: 740px;
  }
}
@media (max-width: 578px) {
  .content {
    width: 90%;
    flex-wrap: wrap;
  }
  .aside {
    width: 100%;
  }
  .photo {
    width: 100%;
  }
  .aside__content {
    padding-left: 20px;
  }
  .about-me {
    padding-top: 45px;
    margin-left: 0;
    margin-right: 0;
  }
  .about-me__inf,
  .projects,
  .experience,
  .education {
    padding: 0 20px;
  }
  .education {
    margin-bottom: 40px;
  }
}
